.App {
  text-align: center;
}


.wrapper{
  height: 100%;
  background-color: #ccc;
  min-height: 100vh;
}

.login-wrapper{
  background-color: #fff;
  width: 450px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
