.Menu{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #eaeaea;
    transition: all 0.2s linear;
    width: 230px;
}
.Collapsed{
    width: 60px;
}
.Hoverable:hover{
    width: 230px;
}


.Nav{
    padding: 0 15px;
}
.Nav ul{
    padding: 0;
}
.IconHolder{
    width: 30px;
}